{{extends "base.html"}}

{{block head()}}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        // Código para inicializar DataTable
    });
</script>
{{end}}

{{block body()}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rexistro Docker IES de Teis</title>
    <link rel="stylesheet" href="{{ basePath }}/static/css/bootstrap.min.css">
    {{yield head()}}
</head>

<style>


    body {
        background-color: #343a40; /* Color de fondo para modo oscuro */
        color: white; /* Color del texto para modo oscuro */
    }

    .navbar {
        background-color: #343a40 !important; /* Fondo de la barra de navegación para modo oscuro */
    }

    .navbar-nav .nav-link {
        color: white !important; /* Color de los enlaces en modo oscuro */
    }

    .footer {
        background-color: #343a40; /* Fondo del pie de página para modo oscuro */
        color: white; /* Color del texto en el pie de página para modo oscuro */
    }
</style>

<body>

<div class="container mt-4 text-white link-light table-dark">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="link-light text-white" href="{{ basePath }}/">{{ registryHost }}</a></li>
            {{if namespace != "library"}}
            <li class="breadcrumb-item"><a class="link-light text-white" href="{{ basePath }}/{{ namespace }}">{{ namespace }}</a></li>
            {{end}}
            <li class="breadcrumb-item"><a class="link-light text-white" href="{{ basePath }}/{{ namespace }}/{{ repo }}">{{ repo|url_decode }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ tag }}</li>
        </ol>
    </nav>

    <h4>Detalles da Imaxe</h4>
    <table class="table table-striped table-bordered table-dark">
        <thead>
        <tr>
            <th colspan="2">Resumo</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td width="20%"><b>URL da Imaxe</b></td>
            <td>{{ registryHost }}/{{ repoPath }}{{ isDigest ? "@" : ":" }}{{ tag }}</td>
        </tr>
        <tr>
            <td><b>Dixestión</b></td>
            <td>sha256:{{ sha256 }}</td>
        </tr>
        {{if created}}
        <tr>
            <td><b>Creada o</b></td>
            <td>{{ created|pretty_time }}</td>
        </tr>
        {{end}}
        {{if not digestList}}
        <tr>
            <td><b>Tamaño da Imaxe</b></td>
            <td>{{ imageSize|pretty_size }}</td>
        </tr>
        <tr>
            <td><b>Número de Capas</b></td>
            <td>{{ layersCount }}</td>
        </tr>
        {{end}}
        <tr>
            <td><b>Formatos do Manifesto</b></td>
            <td>
                {{if not isDigest}}Manifesto v2 esquema 1{{else}}<font color="#c2c2c2">Manifesto v2 esquema 1</font>{{end}} |
                {{if not digestList && layersV2}}Manifesto v2 esquema 2{{else}}<font color="#c2c2c2">Manifesto v2 esquema 2</font>{{end}} |
                {{if digestList}}Lista de Manifestos v2 esquema 2{{else}}<font color="#c2c2c2">Lista de Manifestos v2 esquema 2</font>{{end}}
            </td>
        </tr>
        </tbody>
    </table>

    {{if digestList}}
    <h4>Sub-imaxes <!-- Lista de Manifestos v2 esquema 2: multi-arquitectura ou imaxe de caché --></h4>
    {{range index, manifest := digestList}}
    <table class="table table-striped table-bordered text-white link-light table-dark">
        <thead bgcolor="#ddd">
        <tr>
            <th colspan="2">Manifesto nº{{ index+1 }}</th>
        </tr>
        </thead>
        {{range key := manifest["ordered_keys"]}}
        <tr>
            <td width="20%">{{ key }}</td>
            {{if key == "platform" || key == "annotations"}}
            <td style="padding: 0">
                <table class="table table-bordered" style="padding: 0; width: 100%; margin-bottom: 0; min-height: 37px">
                    <!-- Non funciona a iteración anidada. Iteración a través do filtro sobre o mapa. -->
                    {{ manifest[key]|parse_map|raw }}
                </table>
            </td>
            {{else if key == "size"}}
            <td>{{ manifest[key]|pretty_size }}</td>
            {{else}}
            <td>{{ manifest[key]|raw }}</td>
            {{end}}
        </tr>
        {{end}}
    </table>
    {{end}}
    {{else if layersV2}}
    <h4>Blobs <!-- Manifesto v2 esquema 2--></h4>
    <table class="table table-striped table-bordered text-white link-light table-dark">
        <thead bgcolor="#ddd">
        <tr>
            <th>Número de Capa</th>
            <th>Dixestión</th>
            <th>Tamaño</th>
        </tr>
        </thead>
        {{range index, layer := layersV2}}
        <tr>
            <td>{{ len(layersV2)-index }}</td>
            <td>{{ layer["digest"] }}</td>
            <td>{{ layer["size"]|pretty_size }}</td>
        </tr>
        {{end}}
    </table>
    {{end}}

    {{if not isDigest}}
    <h4>Historia da Imaxe <!-- Manifesto v2 esquema 1--></h4>
    {{range index, layer := layersV1}}
    <table class="table table-striped table-bordered text-white link-light table-dark">
        <thead bgcolor="#ddd">
        <tr>
            <th colspan="2">Capa nº{{ len(layersV1)-index }}</th>
        </tr>
        </thead>
        {{range key := layer["ordered_keys"]}}
        <tr>
            <td width="20%">{{ key }}</td>
            {{if key == "config" || key == "container_config"}}
            <td style="padding: 0">
                <table class="table table-bordered text-white link-light table-dark" style="padding: 0; width: 100%; margin-bottom: 0; min-height: 37px">
                    <!-- Non funciona a iteración anidada. Iteración a través do filtro sobre o mapa. -->
                    {{ layer[key]|parse_map|raw }}
                </table>
            </td>
            {{else if key == "created"}}
            <td>{{ layer[key]|pretty_time }}</td>
            {{else}}
            <td>{{ layer[key] }}</td>
            {{end}}
        </tr>
        {{end}}
    </table>
    {{end}}
    {{end}}

</div>

<footer class="footer py-3 bg-dark text-white fixed-bottom">
    <div class="container text-center">
        <img src="{{ basePath }}/static/LOGO.svg" alt="favicon" class="mb-3" style="width: 5em;">
        <p class="mb-0 fw-bold">IES de Teis</p>
        <p class="mb-0 text-light text-white">Repositorio Docker Offline.</p>
    </div>
</footer>

<script src="{{ basePath }}/static/js/bootstrap.min.js"></script>
</body>

</html>
{{end}}
